.button,
.icon-button {
    display: inline-block;
    border: 1px solid {{textDisabled}};
    border-radius: 4px;
    background: {{borderSoft}};
    color: {{textPrimary}};
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

.button {
    min-height: 32px;
    padding: 6px 11px;
    line-height: 18px;
}

.icon-button {
    width: 32px;
    height: 32px;
    padding: 6px;
}

.button + .button,
.button + .icon-button,
.icon-button + .button,
.icon-button + .icon-button {
    margin-left: 12px;
}

.button:hover,
.button:focus,
.icon-button:hover,
.icon-button:focus {
    border-color: {{accentHover}};
    background: {{borderStrong}};
    color: {{textStrong}};
    outline: none;
}

.button-primary {
    border-color: {{borderFocus}};
    background: {{accentActive}};
    color: {{textStrong}};
}

.button-danger {
    border-color: {{dangerActive}};
    color: {{dangerText}};
}

.button[disabled],
.icon-button[disabled] {
    cursor: default;
    opacity: .5;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: 0;
    vertical-align: -3px;
}

.icon-button .icon {
    margin-right: 0;
}
