.modal-shade {
    position: fixed;
    z-index: 900;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: {{backgroundDeep}};
    background: {{backgroundOverlay}};
}

.modal {
    position: absolute;
    top: 6%;
    left: 50%;
    width: 700px;
    height: 88%;
    margin-left: -350px;
    border: 1px solid {{textDisabled}};
    border-radius: 7px;
    background: {{surfacePrimary}};
    box-shadow: 0 8px 30px {{backgroundDeep}};
}

.modal-header,
.modal-footer {
    position: absolute;
    right: 0;
    left: 0;
    padding: 14px 18px;
}

.modal-header {
    top: 0;
    height: 58px;
    border-bottom: 1px solid {{borderDefault}};
}

.modal-header h2 {
    margin-right: 42px;
}

.modal-close-button {
    position: absolute;
    top: 12px;
    right: 14px;
    border-color: transparent;
    background: transparent;
}

.modal-body {
    position: absolute;
    top: 58px;
    right: 0;
    bottom: 62px;
    left: 0;
    overflow: hidden;
}

.modal-no-footer .modal-body {
    bottom: 0;
}

.modal-footer {
    bottom: 0;
    height: 62px;
    border-top: 1px solid {{borderDefault}};
    text-align: right;
}

@media screen and (max-width: 740px) {
    .modal {
        right: 12px;
        left: 12px;
        width: auto;
        margin-left: 0;
    }
}
